%h1 Edit posting
%p
 = form_for(@post) do |f|
  %p.field
   = f.label :title
   %br
   = f.text_field :title

  %p.field
   = f.label :content
   %br
   = f.text_area :content

  %p.field
   = f.label :phone
   %br
   = f.text_field :phone

  %p.field
   = f.label :email
   %br
   = f.text_field :email

   %p.field
   = f.submit