= render 'layouts/errors'

%h1 Create a new posting
%p
 = form_for(@post) do |f|
  %p.form-group
   = f.label :title
   %br
   = f.text_field :title, class: "form-field"

  %p.form-group
   = f.label :content
   %br
   = f.text_area :content, class: "form-field", rows: "12"

  %p.form-group
   = f.label :phone
   %br
   = f.text_field :phone, class: "form-field"

  %p.form-group
   = f.label :email
   %br
   = f.text_field :email, class: "form-field"

   %p.form-group
   = f.submit