= render 'layouts/errors'

%h1 Posting:
%h2= @post.title
%p= @post.content
%p
 - if @post.user == current_user
  = link_to("Edit", edit_post_path(@post)) 
  | 
  = link_to("Delete", @post, method: :delete, data: { confirm: "Are you sure?" })
 